<% @post.comments.each do |comment| %>
<p>

  <% if comment.user_id != nil %>
   <b> Commenter: </b>
   <%= link_to comment.user.name, comment.user %>
</p>

<p>
	<b> Comment: </b>
	<%= comment.contents %>
</p>
<% end %>


<% end %>


