

<h1><center>Welcome to BLoG LABS </center> </h1>
<center>
<%= will_paginate @posts %>
</center>
<ul class="posts">
  <table border=2 align="center">
  <% @posts.each do |post| %>
     <tr>
     <td>    <%=  post.content %>   </td> 
     <td>     <%= link_to "view post", post %> </td>
	  </tr>
  <% end %>
  </table>
</ul>

<center>
<%= will_paginate @posts %>
</center>